{# src/Blogger/BlogBundle/Resources/views/Blog/contact.html.twig #}
{% extends "::base.html.twig" %}


{% block title%}Contact{% endblock %}

{% block body %}
    <header>
        <h1>{% trans %}Contacta con nosotras{% endtrans %}</h1>
    </header>

    <p>{% trans %}Gracias por visitar nuestro blog!{% endtrans %}</p>
    <p>{% trans %}Si quieres puedes encontrarnos en las siguientes redes sociales{% endtrans %}:</p>
	<ul>
		<li><a href="https://facebook.com/josune.ordonez.1" target="_blank"> Josune<img src="{{asset('icon/face.png') }}" alt="Facebook" /></a></li>
		<li><a href="https://facebook.com/andreamorillas" target="_blank"> Andrea<img src="{{asset('icon/face.png') }}" alt="Facebook" /></a></li>
		
	</ul>

{% endblock %}

{% block sidebar_%}
{% endblock %}


{% block sidebar%}
  <img src="{{asset('img/Foto_Perfil_.jpeg') }}" alt="Josune!" />
    <img src="{{asset('img/Andrea.jpeg') }}" alt="Andrea!" />
{% endblock %}
       

