{# src/Blogger/BlogBundle/Resources/views/layout.html.twig #}
{% extends '::base.html.twig' %}


{% block sidebar %}

<article class="ranking"> 

<h2>TOP 3 </h2>

 {% set num = 1 %}
               
{% for m in likes %}
				<ol>
        {% for video in videos %}
            {% if m.1 == video.id  %}  

            {% if num < 4 %}
            	
                 <li value={{num}}><a href="{{ path('blogger_blog_show', { 'id': video.id }) }}">{{ video.titulo}}</a> con {{m.total}} me gustas </li>
                 </ol>
            
            
               {% set num = num +1 %}
            {% endif %}
               {% endif %}
        {% endfor %}

    {% endfor %}

</article>

{% endblock %}